%ex-white-bth {
  color: $blue-100;
  background-color: $white;
  border-color: $blue-100;
}

.btn {
  @extend %ex-white-bth;
  @extend %flex-fully-center;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $white;
    background-color: $blue-100;
    border-color: $t;

    &:disabled {
      @extend %ex-white-bth;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
