/* colors used on project */
$t: transparent;

/* white colors */
$white: white;

/* black colors */
$black: #000;
$black-1: #0f0f0f;
$black-2: #2a2a2d;

/* grey colors */
$gray-100: #84898F;
$gray-200: #ddd;
$gray-300: #f3f3f3;

/* green colors */
$green-100: #84cc16;

/* blue colors */
$blue-100: #4682da;

/* value settings for @media queries */
$mob-galaxy-s5: 360;
$mob-iphone6: 375;
$mob: 480;
$mob-tab: 768;
$tab: 1024;
$des: 1200;
$des-max: 1280;
$height-1: 900;
$height-2: 420;

/* fonts used on project */
$f-regular: 'RobotoRegular';
$f-medium: 'RobotoMedium';
$f-bold: 'RobotoBold';
