.container {
  min-width: 100%;
  font-size: 13px;
  line-height: 18px;
  border-style: hidden;
}

.th-title,
:deep(.td-title) {
  padding: 12px 15px;
  color: $black;
}

.th-title {
  background: $gray-300;
}

.table {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 0 1px $gray-100;

  &__thead {
    &_tr {
      text-align: left;
    }
  }
}

:deep(.table__tbody_tr) {
  border-top: 1px solid $gray-200;

  &:nth-of-type(even) {
    background-color: $gray-300;
  }

  &:hover {
    background-color: #d8e7f3;
  }
}