.bth-link {
  display: inline-block;
  margin: 20px 0 30px;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid $blue-100;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  box-sizing: border-box;
}